window#waybar {
  font-family: FontAwesome, sans-serif;
	background-color: #000;
	color: white;
	font-weight: bold;
  font-size: 16px;
}

.module {
	padding-left: 6px;
	padding-right: 6px;
  padding-top: 2px;
}

#workspaces {
  padding-top: 0;
	padding-left: 0;
}

#workspaces button {
	padding: 0 5px;
	color: white;
	border-radius: 0;
	border: none;
	border-top: solid 4px transparent;
	border-bottom: solid 4px transparent;
}

#tray {
  padding-right: 8px;
}

#workspaces button.focused {
	border-bottom: solid 4px white;
}

#workspaces button:hover {
	border-bottom: solid 4px white;
}

#idle_inhibitor {
  transition: all 300ms ease;
}

#idle_inhibitor.activated {
	background-color: white;	
	color: #000;
}

#pulseaudio:hover,
#power-profiles-daemon:hover,
#custom-power:hover,
#custom-media:hover,
#custom-weather:hover,
#mpd:hover {
	background-color: white;	
	color: #000;
  transition: all 300ms ease;
}
