window {
  font-size: 20px;
  font-family: "Hasklug Nerd Font";
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}

#input {
	display: none;
	margin: -10000px 5px;
}

#outer-box {
  padding: 10px;
  border-radius: 20px;
}

#entry {
  padding: 10px;
}

#entry:selected {
  border: none;
  border-radius: 5px;
  outline: none;
}
