window {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#input {
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 0;
  background-color: black;
}

#input:focus {
  box-shadow: none;
}

#outer-box {
  background-color: black;
  border: solid 2px white;
}

#entry {
  padding: 10px;
}

#entry:selected {
  border: none;
  outline: none;
  background-color: white;
}

#entry:selected #text {
  color: black;
}
